:root {
  --primary-color: #a889ff;
  --secondary-color: #4a4a4a;
  --background-color: #f9f6ff;
  --white-color: #fefefe;
  --accent-color: #ffa3d8;
  --box-shadow: 4px 4px 10px rgb(233, 225, 249);
}

body {
  font-family: "Playfair Display", serif;
  font-family: "poppins", sans-serif;
  background-color: (--white-color);
}

/*-- Start of Header --*/
.header {
  background: var(--background-color);
  padding: 50px 50px;
}

.header .row {
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-family: "playfair display", sans-serif;
  font-weight: 500;
  font-size: 45px;
}

.header h2 {
  font-weight: 200;
  font-size: 18px;
  color: var(--secondary-color);
}

.header h3 {
  font-weight: 300;
  font-size: 25px;
}

.current-interest-text {
  font-size: 20px;
}

.pink-dot {
  color: var(--accent-color);
}

.header .kay-image {
  border: 3px dotted black;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
}

.btn {
  padding: auto;
  margin: 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: all 150ms ease-in-out;
}

.header .btn {
  margin: 10px 20px auto 0px;
}

.btn-primary-kay {
  background-color: #a889ff;
  color: #fefefe;
  padding: 7px 15px;
}

.btn-primary-kay:hover {
  background-color: #ffa3d8;
  color: white;
  opacity: 80%;
}

.btn-secondary-kay {
  border: 2px solid var(--primary-color);
  padding: auto;
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.btn-secondary-kay:hover {
  color: var(--accent-color);
  border-color: #ffa3d8;
}

@media (max-width: 576px) {
  .header .row {
    margin: 0 auto;
    width: 100%;
  }

  .header {
    padding: 25px;
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

  .header h3 {
    font-size: 20px;
  }
}

/*--End of Header--*/

.body-h2-title {
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.col-sm-6 {
  margin: 20px auto;
}
.col-sm-6 h3 {
  font-weight: 300;
  margin: 10px auto;
  font-size: 28px;
}

.col-sm-6 p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  .body-h2-title {
    text-align: center;
    margin: 0 auto;
  }

  .col-sm-6 {
    margin: 0 auto;
    padding: 0 15px;
  }

  .col-sm-6 h3,
  .col-sm-6 p {
    margin: 0 0 10px 10px;
    padding: 2px 10px;
    text-align: center;
  }

  .col-sm-6 .btn {
    display: block;
    width: 95%;
    margin: 15px auto;
  }
}

/*-- Footer --*/

footer {
  background: var(--background-color);
  border-top: 1px solid var(--white-color);
  margin: 30px auto 0px;
  text-align: center;
}

footer .social-media-links {
  margin: 40px auto 15px;
}

footer i {
  margin: 0 5px;
  font-size: 20px;
  color: var(--primary-color);
}

footer p {
  padding-bottom: 40px;
  margin: 0 auto;
}
